In [19]:
import pandas as pd

In [20]:
df_raw = pd.read_csv('activities_12_28_2024.csv')

In [21]:
# select relevant columns and rename for convenience
df_runs = df_raw[['Activity Date','Activity Name','Activity Type','Activity Description',
                  'Elapsed Time','Moving Time','Distance','Elevation Gain','Elevation Loss']]
df_runs = df_runs.rename(columns = {'Activity Date':'Date', 'Activity Name':'Name',
                                    'Activity Type':'Type','Activity Description':'Description'})
df_runs

,Date,Name,Type,Description,Elapsed Time,Moving Time,Distance,Elevation Gain,Elevation Loss
0,"Jun 8, 2021, 10:57:53 PM",Evening Run,Run,NaN,2999,1805.0,5.35,138.346207,138.345993
1,"Jun 10, 2021, 11:27:28 PM",Evening Run,Run,NaN,1959,1917.0,4.88,115.467758,128.367996
2,"Jun 11, 2021, 10:03:23 PM",Evening Run,Run,NaN,1088,1073.0,3.22,81.699196,81.599197
3,"Jun 12, 2021, 12:33:07 PM",Morning Run,Run,NaN,517,517.0,1.69,48.912777,49.012798
4,"Jun 16, 2021, 1:08:01 AM",Evening Run,Run,NaN,1187,1007.0,1.71,0.000000,0.100000
...,...,...,...,...,...,...,...,...,...
366,"Mar 9, 2024, 4:24:34 PM",Afternoon Run,Run,Five guys,788077,357.0,0.97,0.000000,0.000000
367,"Jul 3, 2024, 12:34:40 PM",Morning Run,Run,NaN,1889,1540.0,4.86,13.916079,23.094755
368,"Nov 13, 2024, 11:00:00 PM",Evening Run,Run,treadmill run,2056,2056.0,6.43,0.000000,NaN
369,"Nov 15, 2024, 1:01:26 PM",Morning Run,Run,paused watch for 0.5,5181,1763.0,5.75,44.248997,57.565666
370,"Dec 28, 2024, 1:59:43 PM",Morning Run,Run,With Channing tan ðŸ˜Ž,2520,2117.0,6.45,56.541859,56.935192

In [22]:
# fix units in each column and add pace 
df_runs['Distance'] = df_runs['Distance'] * 0.621
df_runs['Elapsed Time'] = df_runs['Elapsed Time'] / 60
df_runs['Moving Time'] = df_runs['Moving Time'] / 60
df_runs['Pace'] = df_runs['Moving Time'] / df_runs['Distance']
df_runs

,Date,Name,Type,Description,Elapsed Time,Moving Time,Distance,Elevation Gain,Elevation Loss,Pace
0,"Jun 8, 2021, 10:57:53 PM",Evening Run,Run,NaN,49.983333,30.083333,3.32235,138.346207,138.345993,9.054836
1,"Jun 10, 2021, 11:27:28 PM",Evening Run,Run,NaN,32.650000,31.950000,3.03048,115.467758,128.367996,10.542884
2,"Jun 11, 2021, 10:03:23 PM",Evening Run,Run,NaN,18.133333,17.883333,1.99962,81.699196,81.599197,8.943366
3,"Jun 12, 2021, 12:33:07 PM",Morning Run,Run,NaN,8.616667,8.616667,1.04949,48.912777,49.012798,8.210337
4,"Jun 16, 2021, 1:08:01 AM",Evening Run,Run,NaN,19.783333,16.783333,1.06191,0.000000,0.100000,15.804855
...,...,...,...,...,...,...,...,...,...,...
366,"Mar 9, 2024, 4:24:34 PM",Afternoon Run,Run,Five guys,13134.616667,5.950000,0.60237,0.000000,0.000000,9.877650
367,"Jul 3, 2024, 12:34:40 PM",Morning Run,Run,NaN,31.483333,25.666667,3.01806,13.916079,23.094755,8.504359
368,"Nov 13, 2024, 11:00:00 PM",Evening Run,Run,treadmill run,34.266667,34.266667,3.99303,0.000000,NaN,8.581620
369,"Nov 15, 2024, 1:01:26 PM",Morning Run,Run,paused watch for 0.5,86.350000,29.383333,3.57075,44.248997,57.565666,8.228897
370,"Dec 28, 2024, 1:59:43 PM",Morning Run,Run,With Channing tan ðŸ˜Ž,42.000000,35.283333,4.00545,56.541859,56.935192,8.808831

In [43]:
# total distance and time: 
df_runs[['Distance','Moving Time']].sum()

# OR, summarized table:
df_runs[['Distance','Moving Time']].agg(['sum'])

       Distance   Moving Time
sum  1412.74395  12243.383333

204.05